################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FHLVoiceSearch/.vs/FHLVoiceSearch/v16
/FHLVoiceSearch/FHLVoiceSearch/bin/Debug
/FHLVoiceSearch/FHLVoiceSearch/obj/Debug
/FHLVoiceSearch/.vs/FHLVoiceSearch/v15
/FHLVoiceSearch/FHLVoiceSearch/bin/x64/Debug
/FHLVoiceSearch/FHLVoiceSearch/obj/x64/Debug
